/* Se evita el uso de tamalos fijos, como el px */
*{
    margin: 0;                     /* buena práctica: resetear */
    padding: 0;                    /* buena práctica: resetear */
    font-family:                   /* setear fuentes y por último sans-serif */
       'Work Sans', 'Overpass', 'Lato', sans-serif;  /* Verdana, Geneva, Tahoma, sans-serif; */
    /* font-size: 62.5%;              1 rem equivale a 10px */
    font-size: 1vw;
    box-sizing: border-box;
    user-select: none;
 }

 /**************************************************************************************************/
 /* Varias */
  .en_linea {
    display: inline;
 }

/**************************************************************************************************/
/* Pagina */
.page-container {
    display: grid;
    grid-gap: 2vw;

    grid-template-columns: 1fr;   /* Para maquetar 1fr 1fr (sin usar named aeras) */
    grid-template-rows: repeat (3, auto);
    grid-template-areas: "header-area"
                         "main-area"
                         "footer-area";
}

/**************************************************************************************************/
/* Encabezado */
header {
    grid-area: header-area;
    background-color: black;
    color: white;
    padding: 0.5vw; 
}
.header-marca {
    grid-area: marca-area;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.25rem 2vw 0.25rem 2vw;
 }
.header-nav {
    grid-area: nav-area;
    font-size: 1rem;
    justify-self: center;
    margin: 1.5rem 2vw 0.5rem 2vw;
}
.link-nav{
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 1.3rem 0.6vw 0.5rem 0.6vw;
}
.link-nav:hover , .link-nav:active , .header-nav > a:hover {
    color: #B87988;
    background-color: transparent;
    text-decoration: underline overline;
}
.link-selected {
    color: #B87988;
    text-decoration-line: none;
}
.header-logo {
    grid-area: logo-area;
    color: yellow;
    justify-self: right;
    margin: 0.25rem 2vw 0.25rem 2vw;
}


/**************************************************************************************************/
/* Main */
main {
   grid-area: main-area;
}
.main-container {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}


/**************************************************************************************************/
/* Footer */
footer {
    grid-area: footer-area;
    background-color: black;
    color: white;
    font-family: 'Overpass';
    line-height: 3vh;
    padding: 0.6%; 
    text-align: center;
}
/* Links a redes sociales */
.red_social {
    color: white;
    font-size: 6hv;
    padding: 0.4% 0.4%;
    text-decoration: none;
 }

/**************************************************************************************************/
/* Gestión de dispositivos

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.header-container {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 30% auto 10%;
    grid-template-rows: auto;
    grid-template-areas: "marca-area nav-area logo-area";
}
.header-fixed {
    width: 100%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
    .header-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3;
        grid-template-areas: "marca-area" "logo-area" "nav-area";
    }
}

/* Small devices (landscape phones, 576px and up) 
   Medium devices (tablets, 768px and up) */
@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .header-container {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2;
        grid-template-areas: "marca-area logo-area" "nav-area logo-area";
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {    /* Todos los demas ? */
    .header-fixed {
        position: fixed;  
        top: 0;
    }
    main {
        margin-top: 5rem;   /* Requerido por el header-fixed */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 2500px) {
    .page-container {
        max-width: 2500px;
    }
    .header-fixed {
        max-width: 2500px;
    } 
}

/**************************************************************************************************/
/* Para maquetar */
/*.page-container > header,*/
/* .page-container >  main, */
/*.page-container >  footer, */
/* .page-container >  div, */
.main-container >  div  { 
    background-color: darksalmon;
    padding: 20px;
    border-radius: 4px;
}
.maqueta-3cols {
    grid-column-start: span 3;
    grid-row-start: auto;
}
.maqueta-2cols-2filas {
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.maqueta-5cols {
    grid-column-start: span 5;
    grid-row-start: auto;
}
.maqueta-5cols-3filas {
    grid-column-start: span 5;
    grid-row-start: span 3;
}
.maqueta-5cols-4filas {
    grid-column-start: span 5;
    grid-row-start: span 4;
}