.page-container {
  grid-row-gap: 1rem;
}
header {
  grid-area: header-area;
  background-color: black;
  color: white;
  /* padding: 0.5vw;  */
}
.header-container {
  display: grid;
  grid-gap: 0.2vw;
  grid-template-columns: 30% auto 10%;
  grid-template-rows: auto;
  grid-template-areas: "marca-area nav-area logo-area";
}
/* .header-fixed {
  width: 100%;
} */
.header-marca {
  grid-area: marca-area;
  /* color: white; */
  /* font-size: 2.5rem; */
  /* font-weight: bold; */
  /* margin: 0.25rem 2vw 0.25rem 2vw; */
  margin-top:0.40rem;
  margin-left: 0.40rem;
  margin-right: 0.25rem;
}
.header-nav {
  grid-area: nav-area;
  font-size: 1rem;
  justify-self: center;
  /* margin: 1.5rem 2vw 0.5rem 2vw; */
}
.header-nav a, .header-nav a:visited, .header-nav a:hover,.header-nav a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:white; /* #B87988; */
	font-size:1.2rem;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.header-nav a:hover{
	color:#B87988;  /* white; */
}
.header-nav a.before:before,.header-nav a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
.header-nav a.before:before{
  top:-0.8rem;     /* Regula la distancia de la linea */
}
.header-nav a.after:after{
  bottom:-0.8rem;  /* Regula la distancia de la linea */
}
.header-nav a.before:before,.header-nav a.after:after{
  height:0.25rem;  /* Regula el ancho de la linea */
  width:0;
  background: #B87988;
}
.header-nav a.eigth:before{
  left:0;
}
.header-nav a.eigth:after{
  right:0;
}
.header-nav a.before:hover:before,a.after:hover:after{
  width:100%;
}
.header-logo {
  grid-area: logo-area;
  justify-self: right;
  /* margin: 0.25rem 2vw 0.25rem 2vw; */
}
.main-container {
  display: grid;
  grid-template-columns: 58% 21% 21%;
  grid-template-rows: auto;
  grid-template-areas: "form-area side1-area side2-area"
                       "form-area side1-area side3-area"
                       "wapp-area wapp-area  wapp-area";
  grid-auto-flow: row;
  grid-row-gap: 1%;
  grid-column-gap: 0.5%;
  width: 98%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.side1-container {
  grid-area: side1-area;
  font-family: 'Overpass';
}
.side2-container {
  grid-area: side2-area;
  font-family: 'Overpass';
}
.side3-container {
  grid-area: side3-area;
  font-family: 'Overpass';
}
.side1-container, .side2-container, .side3-container, .whatsapp-container, .form-containter {
  background-color: #D5CEC2;
  border: 1px solid rgba(149, 196, 247, 0.2); 
  border-radius: 0.3rem;
  padding: 1.8rem;
  line-height: 150%;
  margin: 0 auto;
  width: 100%;
}
.side1-container h2, .side2-container h2, .side3-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 15rem;
  border: 3px solid rgb(70, 70, 121);
  border-radius: 0.3rem;
  padding: 0.4rem;
}
.side1-container .list-type, .side2-container .list-type, .side3-container .list-type  {
  list-style-type: square;
  color: rgb(70, 70, 121);
}
.list-item {
  color:black;
}
.whatsapp-container {
  grid-area: wapp-area;
  text-align: center;
  padding: 0.8rem;
}
.whatsapp-container .whatsapp {
  border-radius: 0.3rem;
}
.whatsapp-container .nota {
  font-style: italic;
  font-weight: 500;
}
.form-containter {
  grid-area: form-area;
  display: grid;
  grid-template-columns:  49%  49%;
  grid-auto-flow: row;
  /* padding: 0.2rem; */
}
label  {
  display: block;
  font-family: 'Overpass';
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
input,
select,
textarea {
  border: 1px solid rgba(0, 123, 255, .2); 
  border-radius: 0.3rem;
  padding: 0.5rem;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
  outline: 3px solid rgb(70, 70, 121)
}
.form-containter div {
  margin-bottom: 1rem;
}
.form-containter .check {
  font-weight: 800;
  grid-column-start: span 2;
  margin-bottom: 2rem;
}
.form-containter .check-recuadro {
   border: 3px solid rgb(70, 70, 121);
   border-radius: 0.3rem;
   padding: 0.5rem;
   /* border: 10px solid black; 
   text-decoration-line: underline ; */
}
.form-containter .check-item {
  margin: auto 0.5rem;
}
.form-containter .estado {
  margin-top: 0.5rem;
  width: 20vw;
}
.form-containter .botones {
  border: none;
  border-radius: 0.25vw;
  color: white; 
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 1.8rem 0 0;
  text-align: center;
}
input[type=submit] {
  background-color: rgba(0, 0, 0, 0.7);
}
input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
input[type=reset] {
  background-color: rgba(230, 33, 66, 0.7);
}
input[type=reset]:hover {
  background-color: rgba(230, 33, 66, 1);
  cursor: pointer;
}
.form-containter .botones-area {
  grid-column-start: 2;
  grid-row-start: auto;
  /* margin: auto auto; */
  margin-bottom: 0;
}
@media screen and ((max-width: 575.98px) or (max-width: 991.98px)) {
  .main-container {
    grid-template-columns: 100%;
    grid-template-areas:  "form-area" "wapp-area" "side1-area" "side2-area" "side3-area" ;
    grid-row-gap: 1rem;
    width: 98%;
  }
  .form-containter {
    grid-template-columns: 98%;
    grid-row-start: auto;
  }
  .form-containter .check {
    grid-column-start: span 1;
    grid-row-start: auto;
  }
  .form-containter .botones-area {
    grid-column-start: 1;
    grid-row-start: auto;
  }
  .whatsapp-container {
    width: 100%;
  }
}
